<h1>{{blog.title}}</h1>
<p>{{blog.content}}</p>
<p>{{blog.link}}</p>
<p>posted by {{blog.author}} on {{blog.date}}</p>

{{new-comment blog=blog saveComment='saveComment'}}

<ul>
  {{#each blog.comments as |comment|}}
    {{comment.author}}<br>
    {{comment.content}}<br>
    <button {{action 'deleteComment' comment}}>Delete</button>
  {{/each}}
</ul>
